@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font externo */
@font-face {
    font-family: dreams;
    src: url('../fonts/DREAMS.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: roboto;
}

:root{
    --cor1: #F21667;
    --cor2: #D91A73;
    --cor3: #BF399C;
    --cor4: #9F54BF;
    --cor5: #000000;
    --cor6: #c0c0c0;
}

.flx-wrap{
    display: flex;
    flex-wrap: wrap;
}

.flx-grow{
    display: flex;
    flex-flow: row;
}

header nav{
    background-color: var(--cor5);
    padding: 0 10px;
    height: 90px;
}

header nav ul{
    margin: 10px 0;
}

header nav ul li a{
    margin: 0px 15px;
    border-bottom: 1px solid var(--cor1);
    text-transform: uppercase;
}

header nav ul li a:hover {
    background-color: var(--cor4);
    border-radius: 15px;
    transition: all 1s, border 1.3s;
}

header nav a img {
    width: 80px;
    margin: 10px 0;
}

header nav i {
    margin: 15px 0;
}

main > figure {
    background-color: var(--cor5);
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main figure {
    margin: auto;
    justify-content: center;
    align-items: center;
}

main h1{
    color: var(--cor1);
    margin: 30px 0;
    text-transform: uppercase;
    animation-name: code;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes code {
    0% {color: var(--cor1);}
    25% {color: var(--cor2);}
    50% {color: var(--cor3);}
    75% {color: var(--cor4);}
    100% {color: var(--cor1);}
}

@-moz-keyframes code {
    0% {color: var(--cor1);}
    25% {color: var(--cor2);}
    50% {color: var(--cor3);}
    75% {color: var(--cor4);}
    100% {color: var(--cor1);}
}

#secaointro {
    background-color: var(--cor1);
    height: auto;
    display: flex;
}

#secaointro h1 {
    color: white;
    text-transform: uppercase;
    font-family: roboto;
}

#secaointro p  {
    margin: 10px 0;
    color: white;
    text-transform: uppercase;
}

#sobrenos {
    background-color: var(--cor5);
    height: 100vh;
    margin: auto;
}

#sobrenos h1 {
    color: var(--cor1);
    text-align: center;
    margin: auto;
    padding: 30px 0;
    text-transform: uppercase;
}

#sobrenos figure .imagem {
    width: 300px;
    height: 300px;
    background-color: var(--cor6);
    float: left;
    margin: 0 30px;
    border-radius: 50px;
}

#sobrenos p {
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
}

#nossotime {
    background-color: var(--cor6);
    height: auto;
    display: flex;
}

#nossotime h1 {
    color: var(--cor5);
    text-transform: uppercase;
    text-align: center;
    font-family: roboto;
}

#nossotime .row{
    display: flex;
    flex-flow: row;
}

#nossotime .caixa{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    margin: 10px;
    justify-content: center;
    text-align: center;
    /* border: 1px solid var(--cor4); */
    border-radius: 30px;
}

#nossotime .icon{
    text-align: center;
    margin: 20px;
}

#servicos {
    height: auto;
    margin: auto;
}

#servicos h1 {
    margin: auto;
    text-align: center;
    font-family: roboto;
    text-transform: uppercase;
    padding: 30px 0;
}

#servicos figure {
    margin: auto;
    display: flex;
    justify-content: center;
}

#servicos figure .box{  /* espaçamento */
    margin: 30px;
    /* border: 1px solid orange; */
}

#depoimentos {
    background-color: var(--cor6);
    height: auto;
    width: auto;
}

#depoimentos > div {
    display: flex;
    align-items: center;
    margin: auto;
    padding: 30px 0;
}

#depoimentos h6 {
    font-family: roboto;
    text-transform: uppercase;
}

#depoimentos img {
    padding: 30px;
    display: flex;
    align-items: center;
}

#depoimentos p {
    font-family: roboto;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
}

#contato {
    background-color: var(--cor5);
    height: auto;
    padding: 0 3%;
    align-items: center;
    display: flex;
    padding-bottom: 20px;
}

#contato h1{
    font-family: roboto;
    text-align: center;
    text-transform: uppercase;
    color: var(--cor1);
    margin: auto;
    padding: 30px;
}

#contato textarea {
    height: 230px;
    background-color: var(--cor6);
    border: none;
    resize: none;
    border-radius: 5px;
}

#contato form label {
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

#contato form input {
    color: var(--cor5);
    background-color: var(--cor6);
    margin: 15px;
    border-radius: 5px;
}

button {
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 30px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: roboto;
}

button:hover {
    cursor: pointer;
    background-color: var(--cor4);
    transition: all 1.5s;
}

#edr-eletronico {
    background-color: var(--cor1);
    height: auto;
    width: auto;
}

#edr-eletronico > div {
    margin: auto;
    display: flex;
    text-align: center;
}

#edr-eletronico h3{
    color: white;
}

#edr-eletronico p {
    color: white;
}

#edr-eletronico .esp{
    padding: 10px 80px;
}

footer {
    background-color: var(--cor5);
    color: white;
    height: auto;
    
}

footer > div {
    display: flex;
}

footer .box {
    width: 230px;
    height: 200px;
    margin: 30px;
    justify-content: center;
    float: left;
    text-align: center;
    align-items: center;
}

footer h4{
    font-weight: small;
    font-family: roboto;
    font-size: 20px;
    text-overflow: clip;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor1);
    padding: 5px;
    align-items: center;
    justify-content: center;
}

footer ul{
    float: left;
}

footer li a {
    color: white;
    text-transform: uppercase;
    display: flex;
}

footer li a:hover {
    border-left: 1px solid var(--cor4);
    padding-left: 10px;
}

footer#copyright {
    background-color: var(--cor1);
    padding: 30px 0;
}

footer#copyright p {
    margin: auto;
    text-transform: uppercase;
}

@media screen and (min-width: 708px) and (max-width: 1000px){
    main figure img {
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    main h1{
        color: var(--cor1);
        margin: 30px 0;
        font-size: 25px;
        width: auto;
        text-transform: uppercase;
        animation-name: code;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    #sobrenos {
        height: auto;
    }

    #sobrenos > div {
        display: flex;
        flex-direction: column;
    }

    #sobrenos figure{
        margin: auto;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    footer .box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        float:none;
    }
}

@media screen and (min-width: 320px) and (max-width: 708px){
    main > figure {
        background-color: var(--cor5);
        width: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    main figure img {
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    main h1{
        color: var(--cor1);
        margin: 30px 0;
        font-size: 16px;
        text-transform: uppercase;
        animation-name: code;
        animation-delay: 1s;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    #secaointro h1 {
        font-size: 30px;
    }

    #sobrenos {
        height: auto;
    }

    #sobrenos > div {
        display: flex;
        flex-direction: column;
    }

    #sobrenos h1{
        font-size: 30px;
    }

    #sobrenos figure{
        margin: auto;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
    #nossotime {
        height: auto;
    }

    #nossotime h1{
        font-size: 30px;
    }

    #nossotime .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        justify-content: center;
        text-align: center;
        border: 1px solid var(--cor4);
        border-radius: 30px;
    }

    #nossotime .caixa{
        border: 1px solid var(--cor4);
        border-radius: 30px;
    }

    #nossotime .icon {
        text-align: center;
        margin: 20px;
    }

    #servicos figure {
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 10px 10px;
    }

    #servicos h1 {
        font-size: 30px;
    }

    #depoimentos > div {
        display: flex;
        flex-direction: column;
    }

    #depoimentos p {
        margin: 30px;
        text-align: center;
    }

    #contato h1 {
        font-size: 30px;
    }

    #contato form input {
        margin: auto;
    }

    #contato .mb2 {
        margin-bottom: 10px;
    }

    #contato .box {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    #contato input[placeholder='seu nome']{
        color: red;
    }

    #edr-eletronico .esp {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer .box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        float:none;
    }
}